@use '../util/' as *;

.about {
  svg {
    left: rem(90);
  }
  &__content {
    display: flex;
    align-items: center;
    @include breakpoint-down('medium'){
      justify-content: flex-end;
      text-align: end;
    }
    @include breakpoint-down('small') {
      text-align: center;
    }
  }
  &__text {
    width: 55%;
    display: flex;
    flex-direction: column;
    @include breakpoint-down('medium'){
      align-items: flex-end;
      width: 100%;
    }
    @include breakpoint-down('small') {
      align-items: center;
    }
  }
  &__heading {
    
    @include breakpoint-down('small') {
      font-size: rem(30);
      margin-bottom: rem(20);
    }
  }
  &__paragraph {
    line-height: 1.6;
    max-width: rem(600);
    margin-bottom: rem(30);
  }
  &__img-container {
    width: 45%;

    @include breakpoint-down('medium'){
      display: none;
    }
  }
  &__img {
    width: 85%;
  }
}
