@use '../util/' as *;

.contact {
  .section-container {
    margin-bottom: rem(30);
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    text-align: center;
  }
  &__heading {

  }
  &__paragraph {
    margin-bottom: rem(45);
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: rem(600);
    color: var(--clr-black-900);
    font-family: var(--ff-raleway);

    @include breakpoint-down('small') {
      flex-direction: column;
      width: 100%;
    }
  }
  &__form > * {
    outline: none;
    border: 1px solid var(--clr-black-900);
    background: transparent;
    padding: 0 rem(15);
    height: rem(40);
    font-family: var(--ff-raleway);
    font-size: rem(16);
  }
  &__email {
    width: 47%;
    margin-bottom: rem(10);
    @include breakpoint-down('small') {
      width: 100%;
    }
  }
  &__subject {
    width: 47%;

    @include breakpoint-down('small') {
      width: 100%;
    }
  }
  &__message {
    width: 100%;
    resize: none;
    height: rem(90);
    margin: rem(30) 0;
    padding: rem(15);

    @include breakpoint-down('small') {
      margin: rem(10) 0;
    }
  }
  &__submit {
    width: 100%;
    color: var(--clr-white-100);
    background-color: var(--clr-black-900);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }
  .copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(10);
    font-family: var(--ff-raleway);
    z-index: 1;
    font-size: rem(12);
  }
}