@use '../util/' as *;

.hamburger {
  height: rem(2);
  width: rem(23);
  background-color: var(--clr-black-800);
  position: relative;
  &::before {
    content: '';
    height: rem(2);
    width: rem(23);
    position: absolute;
    background-color: var(--clr-black-800);
    top: -6px;
  }

  &::after {
    content: '';
    height: rem(2);
    width: rem(23);
    position: absolute;
    background-color: var(--clr-black-800);
    bottom: -6px;
  }
}