@use '../util/' as *;

.header {
  &__content {
    display: flex;
    align-items: center;
    @include breakpoint-down('medium'){
      
    }
  }
  &__text {
    width: 45%;
    display: flex;
    flex-direction: column;
    @include breakpoint-down('medium'){
      width: 100%;
      align-items: flex-end;
      text-align: right;
    }
    @include breakpoint-down('small') {
      text-align: center;
      align-items: center;
    }
  }
  &__heading {
    
    @include breakpoint-down('small') {
      font-size: rem(30);
      margin-bottom: rem(20);
    }
  }
  &__paragraph {
    line-height: 1.6;
    max-width: rem(450);
  }
  &__img {
    width: 55%;
    align-self: flex-end;

    @include breakpoint-down('medium'){
      display: none;
    }
  }
}
