@use '../util/' as *;

.single-slide {
  padding: 0;

  .active {
    opacity: 1;
  }
  svg {
    opacity: .1;
    z-index: 1;
  }

  &__list {
    height: 100%;
    position: relative;
  }
  &__item {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    &:nth-child(1) {
      background: url('/dist/img/full-slide/thumb-1.jpg') center no-repeat;
    }
    &:nth-child(2) {
      background: url('/dist/img/full-slide/thumb-2.jpg') center no-repeat;
    }
    &:nth-child(3) {
      background: url('/dist/img/full-slide/thumb-3.jpg') center no-repeat;
    }
  }
  
}