@use '../util/' as *;

.socials {
  display: flex;

  &__item {
    
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(30);
    width: rem(30);
    margin-right: rem(20);
    background-color: #909090;
    color: #fff;
    transition: background-color .2s ease-in-out;
    
    &:hover {
      background-color: #020202;
    }
  }
}