@use '../util/' as *;

.three-slide {
  padding: 0;

  svg {
    left: rem(90);
    z-index: 1;
  }

  &__slider {
    position: relative;
    height: 100%;
  }
  &__item {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;

    &-1 {
      
    }
    &-2 {

    }
    &-3 {

    }
    &-4 {
      opacity: 0;
    }
  }
  &__img {
    width: 100%;
  }

  .back {
    left: 0;
    opacity: 1;

    @include breakpoint-down('medium-768') {
      display: none;
    }
  }
  .current {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
    z-index: 10;

    @include breakpoint-down('medium-768') {
      width: 70%;
    }
  }
  .front {
    right: 0;
    opacity: 1;

    @include breakpoint-down('medium-768') {
      display: none;
    }
  }
}