@use '../util/' as *;

.three-slide {
  padding: 0;

  svg {
    left: rem(90);
    z-index: 1;
  }
  .btn {
    height: rem(60);
    width: rem(60);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
    @include breakpoint-down('small') {
      transform: translateY(-50%) scale(.7);
    }
    i {
      font-size: rem(28);
    }
  }
  .next-btn {
    right: rem(30);
    @include breakpoint-down('small') {
      right: 0;
    }
  }
  .prev-btn {
    left: rem(30);
    @include breakpoint-down('small') {
      left: 0;
    }
  }

  &__slider {
    position: relative;
    height: 100%;
  }
  &__item {
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &-1 {
      
    }
    &-2 {

    }
    &-3 {

    }
    &-4 {

    }
  }
  &__img {

  }

  .back {
    left: 0;
    opacity: 1;
  }
  .current {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 1;
    z-index: 10;
  }
  .front {
    right: 0;
    opacity: 1;
  }
}